<div>

  <div class="panel">

    <div class="panel-heading">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="$.lazybox.close()">&times;</button>
      Información experiencia
    </div>

    <div class="panel-body">
      <div class="col-md-12"> <strong>Nombre:</strong>
        <%= @experiencia.nombre %></div>

      <div class="col-md-12"> <strong>Entidad:</strong>
        <%= @experiencia.entidad %></div>

      <div class="col-md-12">
        <strong>Contratante:</strong>
        <%= @experiencia.contratante %></div>

      <div class="col-md-12">
        <strong>Unidad de Negocio:</strong>
        <%= @experiencia.unidad_de_negocio %></div>

      <div class="col-md-12">
        <strong>Ciudad:</strong>
        <%= @experiencia.ciudad %></div>

      <div class="col-md-12">
        <strong>Fecha Inicio:</strong>
        <%= @experiencia.fecha_inicio %></div>

      <div class="col-md-12">
        <strong>Fecha Terminación:</strong>
        <%= @experiencia.fecha_terminacion %></div>

      <div class="col-md-12">
        <strong>Valor Contrato:</strong>
        <%= @experiencia.valor_contrato %></div>

      <div class="col-md-12">
        <strong>Numero Contrato:</strong>
        <%= @experiencia.numero_contrato %></div>

    </div>

    <div class="panel-footer">
      <a href="#" class="btn btn-info color_blanco custom" onclick="$.lazybox.close()">Cerrar</a>

    </div>

  </div>
  <!-- .panel -->

</div>
