
<% @experiencias.each do |experiencia| %>

<div class="col-sm-3">
<div class="col-item">


  <div class="info">
    <div class="row">
      <div class="price col-md-12">
        <h5 class="title">
          <%= experiencia.nombre %><br/>
          <%= experiencia.entidad %><br/>
          <%= experiencia.contratante %><br/>
          <%= experiencia.unidad_de_negocio %><br/>
          <%= experiencia.ciudad %><br/>
          <%= experiencia.fecha_inicio %><br/>
          <%= experiencia.fecha_terminacion %><br/>
          <%= experiencia.valor_contrato %><br/>
          <%= experiencia.numero_contrato %><br/>
        <h5>

      </div>

    </div>
  </div>
</div>
</div>
<% end %>




<% @experiencias2.each do |experiencia| %>

<div class="col-sm-3">
<div class="col-item">


  <div class="info">
    <div class="row">
      <div class="price col-md-12">
        <h5 class="title">
          <%= experiencia.nombre %><br/>
          <%= experiencia.entidad %><br/>
          <%= experiencia.contratante %><br/>
          <%= experiencia.unidad_de_negocio %><br/>
          <%= experiencia.ciudad %><br/>
          <%= experiencia.fecha_inicio %><br/>
          <%= experiencia.fecha_terminacion %><br/>
          <%= experiencia.valor_contrato %><br/>
          <%= experiencia.numero_contrato %><br/>
        <h5>

      </div>

    </div>
  </div>
</div>
</div>
<% end %>

